<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, user-scalable=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="manifest" href="/manifest.json"/>
    <link href="/static/asciidoctor.min.css" rel="stylesheet"/>
    <link href="/static/build.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.min.css" integrity="sha256-77qGXu2p8NpfcBpTjw4jsMeQnz0vyh74f5do0cWjQ/Q=" crossorigin="anonymous" />
</head>
<body>
<div id='app'>
    <header class="header">
        <div class="container">
            <!--start: Navigation -->
            <a href="/" class="brand">On the Road</a>
<!--            <ul class="nav">-->
<!--                <li><a href="/list/">Blogs</a></li>-->
<!--                <li><a href="/slides/">Slides</a></li>-->
<!--                <li><a href="/about/">About</a></li>-->
<!--            </ul>-->
        </div>
        <!--end: Navigation -->
        <div style="clear: both"></div>
        <search-bar v-if="isPageList"></search-bar>
    </header>

<section class="list-view">
    <ol v-else class="list">
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2019-04-20 | 8 月前</time>
                <a href="/post/2019-04-20-kubernetes" class="item-title">
                    Kubernetes 入门
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2019-01-30 | 11 月前</time>
                <a href="/post/2019-01-30-kafka-hands-on" class="item-title">
                    Kafka Hands-on
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2018-12-05 | 1 年前</time>
                <a href="/post/2018-12-05-debuging-java-memory-leak" class="item-title">
                    分析 Java 内存泄漏
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2018-10-29 | 1 年前</time>
                <a href="/post/2018-10-29-run-gitlab-with-k8s" class="item-title">
                    基于Kubernetes的Gitlab runner环境搭建
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2018-05-13 | 1 年前</time>
                <a href="/post/2018-05-13-enhance-your-java-spring-application-with-r-data-science" class="item-title">
                    [译]利用R数据科学增强Java Spring应用
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2018-01-04 | 2 年前</time>
                <a href="/post/2018-01-04-spring-cloud-overview" class="item-title">
                    Spring Cloud 概览
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2017-12-25 | 2 年前</time>
                <a href="/post/2017-12-25-distributed-systems-theory-for-the-distributed-systems-engineer" class="item-title">
                    [转][译]面向分布式系统工程师的分布式系统理论
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2016-08-16 | 3 年前</time>
                <a href="/post/2016-08-16-from-spring-to-spring-boot" class="item-title">
                    From Spring to Spring Boot
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2015-12-13 | 4 年前</time>
                <a href="/post/2015-12-13-cassandra-note" class="item-title">
                    Cassandra Note
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2015-11-05 | 4 年前</time>
                <a href="/post/2015-11-05-wireshark-ssl-other-way" class="item-title">
                    Wireshark解密SSL的另一种方法
                </a>
            </li>
        
    </ol>

    <div id="post-pagination" class="paginator" v-if="pages !== 0">
        <a href="/list/1">&lt;前页</a>
    
        <a href="/list/1" class="current-page">1</a>
    
        <a href="/list/2" class="">2</a>
    
        <a href="/list/3" class="">3</a>
    
        <a href="/list/2">后页&gt;</a>(共 28 篇)
    </div>
</section>
<footer class="footer">
    Copyright © 2020 | Powered by <a href="https://github.com/chenhm/java-static-blog" target="_blank">java-static-blog</a>
</footer>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-core.min.js" integrity="sha256-Y+Budm2wBEjYjbH0qcJRmLuRBFpXd0VKxl6XhdS4hgA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js" integrity="sha256-ht8ay6ZTPZfuixYB99I5oRpCLsCq7Do2LjEYLwbe+X8=" crossorigin="anonymous"></script>
</body>
</html>