<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>On the Road</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, user-scalable=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="manifest" href="/manifest.json"/>
    <link href="/static/asciidoctor.min.css" rel="stylesheet"/>
    <link href="/static/build.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.min.css" integrity="sha256-77qGXu2p8NpfcBpTjw4jsMeQnz0vyh74f5do0cWjQ/Q=" crossorigin="anonymous" />
</head>
<body>
<div id='app'>
    <header class="header">
        <div class="container">
            <!--start: Navigation -->
            <a href="/" class="brand">On the Road</a>
<!--            <ul class="nav">-->
<!--                <li><a href="/list/">Blogs</a></li>-->
<!--                <li><a href="/slides/">Slides</a></li>-->
<!--                <li><a href="/about/">About</a></li>-->
<!--            </ul>-->
        </div>
        <!--end: Navigation -->
        <div style="clear: both"></div>
        <search-bar v-if="isPageList"></search-bar>
    </header>

<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js" integrity="sha256-sTurDi2etLN9CpnUIoCC9y5iynb2qr/uo6QJqzoO7mA=" crossorigin="anonymous"></script>
<section class="list-view">
    <ol v-else class="list">
    
        <li class="list-item">
            <time pubdate="pubdate" class="item-date">2015-12-13 | <span class="timeago" datetime="2015-12-13"></span></time>
            <a href="/post/2015-12-13-cassandra-note" class="item-title">Cassandra Note</a>
        </li>
    
        <li class="list-item">
            <time pubdate="pubdate" class="item-date">2015-11-05 | <span class="timeago" datetime="2015-11-05"></span></time>
            <a href="/post/2015-11-05-wireshark-ssl-other-way" class="item-title">Wireshark解密SSL的另一种方法</a>
        </li>
    
        <li class="list-item">
            <time pubdate="pubdate" class="item-date">2014-10-12 | <span class="timeago" datetime="2014-10-12"></span></time>
            <a href="/post/2014-10-12-spdy" class="item-title">SPDY简介</a>
        </li>
    
        <li class="list-item">
            <time pubdate="pubdate" class="item-date">2013-10-09 | <span class="timeago" datetime="2013-10-09"></span></time>
            <a href="/post/2013-10-09-golang-cross-compiler" class="item-title">Go语言交叉编译环境搭建</a>
        </li>
    
        <li class="list-item">
            <time pubdate="pubdate" class="item-date">2013-07-31 | <span class="timeago" datetime="2013-07-31"></span></time>
            <a href="/post/2013-07-31-create_slideshow_without_ppt" class="item-title">非PPT的演示文档工具</a>
        </li>
    
        <li class="list-item">
            <time pubdate="pubdate" class="item-date">2013-04-21 | <span class="timeago" datetime="2013-04-21"></span></time>
            <a href="/post/2013-04-21-apf-fail2ban" class="item-title">使用apf和fail2ban保护Linux</a>
        </li>
    
        <li class="list-item">
            <time pubdate="pubdate" class="item-date">2013-04-05 | <span class="timeago" datetime="2013-04-05"></span></time>
            <a href="/post/2013-04-05-vpn2-ipsec-debian" class="item-title">搭建Cisco IPSec VPN服务</a>
        </li>
    
        <li class="list-item">
            <time pubdate="pubdate" class="item-date">2013-04-05 | <span class="timeago" datetime="2013-04-05"></span></time>
            <a href="/post/2013-04-05-vpn1-pptp-debian" class="item-title">在debian上搭建基于pptp的vpn服务</a>
        </li>
    
        <li class="list-item">
            <time pubdate="pubdate" class="item-date">2013-04-04 | <span class="timeago" datetime="2013-04-04"></span></time>
            <a href="/post/2013-04-04-dropbear" class="item-title">使用dropbear做ssh转发服务</a>
        </li>
    
        <li class="list-item">
            <time pubdate="pubdate" class="item-date">2013-04-02 | <span class="timeago" datetime="2013-04-02"></span></time>
            <a href="/post/2013-04-02-Discuz-migrate" class="item-title">备份迁移Discuz! X2.5</a>
        </li>
    
    </ol>

    <div id="post-pagination" class="paginator" v-if="pages !== 0">
        <a href="/list/1">&lt;前页</a>
    
        <a href="/list/1" class="">1</a>
    
        <a href="/list/2" class="current-page">2</a>
    
        <a href="/list/3" class="">3</a>
    
        <a href="/list/3">后页&gt;</a>(共 30 篇)
    </div>
</section>
<script>
const ZH_CN = ['秒', '分', '时', '天', '周', '月', '年'];
var locale = function(diff, idx, totalSec) {
  if (idx === 0) return ['刚刚', '片刻后'];
  const unit = ZH_CN[~~(idx / 2)];
  return [`${diff} ${unit}前`, `${diff} ${unit}后`];
};
timeago.register('zh_CN', locale);
timeago.render(document.querySelectorAll('.timeago'),'zh_CN');timeago.cancel();
</script>
<footer class="footer">
    Copyright © 2020 | Powered by <a href="https://github.com/chenhm/java-static-blog" target="_blank">java-static-blog</a>
</footer>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-core.min.js" integrity="sha256-Y+Budm2wBEjYjbH0qcJRmLuRBFpXd0VKxl6XhdS4hgA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/keep-markup/prism-keep-markup.min.js" integrity="sha256-jHeLW+quLKoSpBFisYif0SQf9Z20AKgmKb2vcdWehJI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js" integrity="sha256-ht8ay6ZTPZfuixYB99I5oRpCLsCq7Do2LjEYLwbe+X8=" crossorigin="anonymous"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39495276-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-39495276-1');
</script>

</body>
</html>