<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/manifest.json">
    <link href="/static/asciidoctor.min.css" rel="stylesheet"/>
    <link href="/static/build.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.min.css" integrity="sha256-77qGXu2p8NpfcBpTjw4jsMeQnz0vyh74f5do0cWjQ/Q=" crossorigin="anonymous" />
</head>
<body>
<div id='app'>
    <header class="header">
        <div class="container">
            <!--start: Navigation -->
            <a href="/" class="brand">On the Road</a>
<!--            <ul class="nav">-->
<!--                <li><a href="/list/">Blogs</a></li>-->
<!--                <li><a href="/slides/">Slides</a></li>-->
<!--                <li><a href="/about/">About</a></li>-->
<!--            </ul>-->
        </div>
        <!--end: Navigation -->
        <div style="clear: both"></div>
        <search-bar v-if="isPageList"></search-bar>
    </header>

<section class="list-view">
    <ol v-else class="list">
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2013-02-16 | 6 年前</time>
                <a href="/post/2013-02-16-pxe-winpe" class="item-title">
                    通过PXE引导WinPE
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2013-02-04 | 6 年前</time>
                <a href="/post/2013-02-04-was-mq-jni" class="item-title">
                    WAS连接MQ以及JNI查找的问题
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2013-01-05 | 7 年前</time>
                <a href="/post/2013-01-05-terminal-codeset" class="item-title">
                    终端界面下乱码的解决
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2012-12-28 | 7 年前</time>
                <a href="/post/2012-12-28-fedora17-setup" class="item-title">
                    fedora17一些常见配置
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2012-12-22 | 7 年前</time>
                <a href="/post/2012-12-22-eclipse-custom" class="item-title">
                    定制自己的Eclipse
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2012-12-13 | 7 年前</time>
                <a href="/post/2012-12-13-was-ipv4" class="item-title">
                    修改was强制使用IPv4监听协议
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2012-01-04 | 8 年前</time>
                <a href="/post/2012-01-04-pinhole-photo" class="item-title">
                    pinhole相机拍摄的效果
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2011-08-31 | 8 年前</time>
                <a href="/post/2011-08-31-nodejs-proxy" class="item-title">
                    基于node.js的简单代理
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2011-08-20 | 8 年前</time>
                <a href="/post/2011-08-20-pinhole" class="item-title">
                    纸质针孔（pinhole）相机
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2011-08-16 | 8 年前</time>
                <a href="/post/2011-08-16-nio-udp" class="item-title">
                    NIO与UDP
                </a>
            </li>
        
    </ol>

    <div id="post-pagination" class="paginator" v-if="pages !== 0">
        <a href="/list/2">&lt;前页</a>
    
        <a href="/list/1" class="">1</a>
    
        <a href="/list/2" class="">2</a>
    
        <a href="/list/3" class="current-page">3</a>
    
        <a href="/list/4" class="">4</a>
    
        <a href="/list/5" class="">5</a>
    
        <a href="/list/4">后页&gt;</a>(共 42 篇)
    </div>
</section>
<footer class="footer">
    Copyright © 2020 | Powered by <a href="https://github.com/chenhm/java-static-blog" target="_blank">java-static-blog</a>
</footer>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-core.min.js" integrity="sha256-Y+Budm2wBEjYjbH0qcJRmLuRBFpXd0VKxl6XhdS4hgA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js" integrity="sha256-ht8ay6ZTPZfuixYB99I5oRpCLsCq7Do2LjEYLwbe+X8=" crossorigin="anonymous"></script>
</body>
</html>