<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/manifest.json">
    <link href="/static/asciidoctor.min.css" rel="stylesheet"/>
    <link href="/static/build.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.min.css" integrity="sha256-77qGXu2p8NpfcBpTjw4jsMeQnz0vyh74f5do0cWjQ/Q=" crossorigin="anonymous" />
</head>
<body>
<div id='app'>
    <header class="header">
        <div class="container">
            <!--start: Navigation -->
            <a href="/" class="brand">On the Road</a>
<!--            <ul class="nav">-->
<!--                <li><a href="/list/">Blogs</a></li>-->
<!--                <li><a href="/slides/">Slides</a></li>-->
<!--                <li><a href="/about/">About</a></li>-->
<!--            </ul>-->
        </div>
        <!--end: Navigation -->
        <div style="clear: both"></div>
        <search-bar v-if="isPageList"></search-bar>
    </header>

<section class="list-view">
    <ol v-else class="list">
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2011-07-27 | 8 年前</time>
                <a href="/post/2011-07-27-52-virtualbox-archlinux" class="item-title">
                    virtualBox下安装archlinux
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2011-06-24 | 8 年前</time>
                <a href="/post/2011-06-24-vbox-net-error" class="item-title">
                    VirtualBox虚拟网卡错误修复
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2011-05-13 | 8 年前</time>
                <a href="/post/2011-05-13-gant-groovy-java" class="item-title">
                    使用gant混合编译groovy和java
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2011-03-22 | 8 年前</time>
                <a href="/post/2011-03-22-apache-reverse-proxy" class="item-title">
                    Apache2.2 HTTPS反向代理配置
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2011-02-04 | 8 年前</time>
                <a href="/post/2011-02-04-mingw-msys" class="item-title">
                    MinGW + MSYS 配置
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2009-03-07 | 10 年前</time>
                <a href="/post/2009-03-07-be-the-flame" class="item-title">
                    Be the flame, not the moth
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2007-12-28 | 12 年前</time>
                <a href="/post/2007-12-28-to-frinds" class="item-title">
                    我们的笑　能挽住云霞
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2007-07-28 | 12 年前</time>
                <a href="/post/2007-07-28-sicp-3.4" class="item-title">
                    SICP练习3.4
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2007-03-16 | 12 年前</time>
                <a href="/post/2007-03-16-sicp-2.42" class="item-title">
                    SICP习题解答2.42(八皇后问题)
                </a>
            </li>
        
            <li class="list-item">
                <time pubdate="pubdate" class="item-date">2007-03-16 | 12 年前</time>
                <a href="/post/2007-03-16-sicp-2.34" class="item-title">
                    SICP的习题解答2.34,2.36,2.38,2.39
                </a>
            </li>
        
    </ol>

    <div id="post-pagination" class="paginator" v-if="pages !== 0">
        <a href="/list/3">&lt;前页</a>
    
        <a href="/list/1" class="">1</a>
    
        <a href="/list/2" class="">2</a>
    
        <a href="/list/3" class="">3</a>
    
        <a href="/list/4" class="current-page">4</a>
    
        <a href="/list/5" class="">5</a>
    
        <a href="/list/5">后页&gt;</a>(共 42 篇)
    </div>
</section>
<footer class="footer">
    Copyright © 2020 | Powered by <a href="https://github.com/chenhm/java-static-blog" target="_blank">java-static-blog</a>
</footer>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-core.min.js" integrity="sha256-Y+Budm2wBEjYjbH0qcJRmLuRBFpXd0VKxl6XhdS4hgA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js" integrity="sha256-ht8ay6ZTPZfuixYB99I5oRpCLsCq7Do2LjEYLwbe+X8=" crossorigin="anonymous"></script>
</body>
</html>