---
layout: default
---

<div class="row-fluid">
	<div class="span11 box">
	<section class="post">
	{{ content }}
	</section>
	</div>
	<div class="span1 box">
	<nav>
          <a title="categories" class="icon-th icon-large" href="{{ site.url }}/categories/"></a>
          <a title="tags" class="icon-tags icon-large" href="{{ site.url }}/tags/"></a>
          <a title="subscribe by RSS" class="icon-rss icon-large" href="{{ site.url }}/feed/"></a>
        </nav>
	</div>
</div>
{% if page.comments %}
{% include comments.md %}
{% endif %}

